<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{res.name_text}}</title>
</head>
<body>

<center><h1>{{res.name_text}}  </h1></center>
    <h2><li>หมวดหมู่ : {{res.category}}</li><br>
        <li>วิธีการเดินทาง : {{res.route}}</li><br>
        <li>รีวิวจากเพื่อนๆ</li></h2>

    {% for i in lstreview.all %}
        <fieldset>

            <h2>{{i.summary_review}} : {{i.point}} คะแนน </h2>
            <h4>หมวดหมู่:{{res.category}}
                </h4>
            <h3>
           {{i.review_text}}</h3>

        </fieldset>
    {% endfor %}


</body>
</html>
