<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category : สตรีทฟู๊ด</title>
</head>
<body>
<center><h1>สตรีทฟู๊ด</h1></center>
    <center>
    <h3>
        <a href="/category/a_la_cart">ร้านอาหารตามสั่ง </a>
        <a href="/category/street_food">สตรีทฟู๊ด </a>
        <a href="/category/cafe"> ร้านคาเฟ่</a>    </h3>
    </center>
    {% for item in s %}
            <fieldset>
                <h2>
                    <a href="/restaurant/{{item.id}}">{{item}}
                    </a>
                    <br>
                </h2>

            </fieldset>
    {% endfor %}
<center><h2><a href="/">กลับหน้าแรก</a> </h2></center>
</body>
</html>
